<html>
<title>{{filename}}</title>
<style type="text/css">
  table { border: 1px solid black; }
  td { border: 1px solid black; }
  tr.odd { background: #ffe87c; }
  tr.even { background: #ffffff; }
  tr.complex td { background: red; color: #ffffff; }
</style>
<body>
Source file: {{filename}}
<br><a href="index.html">Index</a>
<table>
<tr>
<td>name</td>
<td>line start</td>
<td>statements</td>
<td>lines</td>
<td>comments</td>
<td>% comments</td>
<td>branches</td>
<td>depth</td>
<td>complexity</td>
<td>Halstead Volume</td>
<td>Halstead Potential</td>
<td>Program Level</td>
<td>MI Volume</td>
</tr>
    {{#data}}
        <tr class="{{cssClassName}}">
            <td>{{name}}</td>
            <td>{{lineStart}}</td>
            <td>{{statements}}</td>
            <td>{{lines}}</td>
            <td>{{comments}}</td>
            <td>{{commentsPercent}}</td>
            <td>{{branches}}</td>
            <td>{{depth}}</td>
            <td>{{complexity}}</td>
            <td>{{halsteadVolume}}</td>
            <td>{{halsteadPotential}}</td>
            <td>{{progLevel}}</td>
            <td>{{miVolume}}</td>
        <tr>
    {{/data}}
</table>

<body>
</html>
